accelerate==0.33.0
datasets==2.21.0
numpy==1.24.4
pandas==2.2.2
peft==0.12.0
psutil
regex==2023.12.25
scipy
sympy==1.12
tiktoken==0.7.0
torch==2.4.0
tqdm==4.66.5
transformers==4.44.2
vllm>=0.6.2
wandb
openai==1.43.0
huggingface-hub
loguru
multiprocess==0.70.16
pebble
python-dateutil==2.8.2
matplotlib==3.8.2
sglang
timeout-decorator
func-timeout
antlr4-python3-runtime==4.11.1
latex2sympy2
word2number
pyarrow==17.0.0
sentencepiece==0.2.0

